@media (min-width : 260px) {
  .container-fluid {
    padding: 0;
  }
  .index-section {
    margin: 0; padding: 0;
    background-image: url('../img/esyw/index-section-img-1.jpg');
    background-repeat: no-repeat;
    z-index: -1;
    position: fixed;
  }

  .index-title {
    font-family: cursive,나눔고딕;
    text-align: center;
    position: relative;
    font-size: 5vw;
    top: 1vh;
  }

  .contents-wrapper {
    height: 2048px;
    font-size: 30px;
    background-color: white;
    z-index: 0;
  }
}
