@media (min-width : 260px) {
  .container-fluid {
    padding: 0;
  }
  .index-section {
    margin: 0; padding: 0;
    background-image: url('../img/esyw/index-section-img-1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 70% top;
    width: 100vw; height: 50vw;
  }

  .index-title {
    font-family: cursive,나눔고딕;
    text-align: center;
    position: relative;
    font-size: 4vw;
    top: 30%;
  }

  .contents-wrapper {
    height: 2048px;
    font-size: 30px;
    background-color: white;
    z-index: 0;
  }
}
