@import url("./styles/css/font-face.css");

body {
  margin: 0;
  font-family: 'Nanum Myeongjo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}