@media (min-width : 260px) {
  .container-fluid {
    padding: 0;
  }

  .section-index {
    margin: 0; padding: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 70% center;
    width: 100vw; height: 50vw;
  }

  .content {
    width: 100vw; height: 50vw;

    font-size: 2vmin;
    text-align: center;
    display: table;
  }

  .content > p {
    display: table-cell;
    vertical-align: middle;
    line-height: 5vmin;
  }

  .content-galary {
    overflow: hidden;
    width: 90vw;
    margin: 0 auto;
  }

  .galary-item {
    float: left;
    background-size: auto 25vw;
    background-repeat: no-repeat;
    width: 25vw; height: 25vw;
    margin: 2.5vw;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  }

  #index-section {
    background-image: url('../img/index-section.jpg');
  }
  #index-title {
    font-family: cursive,나눔고딕;
    text-align: center;
    position: relative;
    font-size: 4vw;
    top: 20%;
  }

  #groom-section {
    background-image: url('../img/groom.jpg');
  }
  #bride-section {
    background-image: url('../img/bride.jpg');
  }

  #galary-index {
    background-image: url('../img/galary-index.jpg');
    background-position: center top;
  }

  #galary-item1 {
    background-image: url('../img/galary-1.jpg');
    background-position: center;
  }
  #galary-item2 {
    background-image: url('../img/galary-2.jpg');
    background-position: center;
  }
  #galary-item3 {
    background-image: url('../img/galary-3.jpg');
    background-position: center;
  }
  #galary-item4 {
    background-image: url('../img/galary-4.jpg');
    background-position: center;
  }
  #galary-item5 {
    background-image: url('../img/galary-5.jpg');
    background-position: center top;
  }
  #galary-item6 {
    background-image: url('../img/galary-6.jpg');
    background-position: right center;
  }
  #galary-item7 {
    background-image: url('../img/galary-7.jpg');
    background-position: center top;
    background-size: 25vw auto;
  }
  #galary-item8 {
    background-image: url('../img/galary-8.jpg');
    background-position: center bottom;
    background-size: 25vw auto;
  }
  #galary-item9 {
    background-image: url('../img/galary-9.jpg');
    background-position: center bottom;
    background-size: 25vw auto;
  }
  #galary-item10 {
    background-image: url('../img/galary-10.jpg');
    background-position: center bottom;
    background-size: 25vw auto;
  }
  #galary-item11 {
    background-image: url('../img/galary-11.jpg');
    background-position: center bottom;
    background-size: 25vw auto;
  }
  #galary-item12 {
    background-image: url('../img/galary-12.jpg');
    background-position: center;
    background-size: 25vw auto;
  }
  #map-index {
    background-image: url('../img/map-index.png');
    background-position: center bottom;
  }
}
